<header class="srow clrleft main-header">
    <div class="container-fluid">
      <div class="row">
        <!--<div class="col-md-4">
                <div class="srow clrleft logo">
                    <a href="#" title="N2L Academy of English Speaking">
                        <figure>
                            <img src="assets/images/N2L-logo.png" alt="N2L Academy of English Speaking" class="img-responsive" />
                        </figure>
                        <span>N2L Academy of English Speaking</span>
                    </a>
                </div>
            </div>-->
  
        <div class="col-md-4 offset-md-8 p-0">
          <!-- <div class="srow clrleft social-midia">
                    <ul>
                        <li class="fb-like"><a href="#" title="Facebook"><span><i class="fa fa-facebook-f" aria-hidden="true"></i></span></a></li>
                        <li class="twt-like"><a href="#" title="Twitter"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a></li>
                        <li class="itg-like"><a href="#" title="Instagram"><span><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
                        <li class="ytb-like"><a href="#" title="YouTobe"><span><i class="fa fa-youtube" aria-hidden="true"></i></span></a></li>
                    </ul>
                </div> -->
  
          <nav class="navbar navbar-expand-lg navbar-light clr">
            <div class="container px-0">
              <button id="navbar-toggler" style="margin-left:auto; padding: 0.3rem 0.5rem; font-size: 1rem;"
                class="navbar-toggler bg-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav text-center w-auto"
                  style="background-color:#f9f3ff; width: max-content; font-weight: bold;">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/home" title="Home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/about" title="About">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/faq" title="FAQ">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" title="Contact" >Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/register" title="Register for free course"
                      >Register For Free Course</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
  
  
  
  
        </div>
      </div>
  
    </div>
  </header>