<div class="srow load_circles_transbg" *ngIf="loader">
    <div class="load_circles">
        <mat-spinner></mat-spinner>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="srow clrleft card_details dashb_info">
            <h1 class="admin_heading_h1">Upload Quiz</h1>
            <div class="srow clrleft dashboard-details">
                <div class="row">
                   
                    <div class="col-md-4 mb-3 mt-3">
                        <div class="input-files">
                            <label>QuizMaster Excel File</label>
                            <input type="file" class="form-control" (change)="selectQuizMasterFile($event)" accept=".xlsx" #fileQuizMasterInput>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3 mt-3">
                        <div class="input-files">
                            <label>QuizDetails Excel File</label>
                            <input type="file" class="form-control" (change)="selectQuizDetailsFile($event)" accept=".xlsx" #fileQuizDetailInput>
                        </div>
                    </div>

                    <!-- <div class="col-md-4 mb-3 mt-3">
                        <div class="input-files">
                            <label>Question-Answer Images Zip file</label>
                            <input type="file" class="form-control" (change)="selectQuestionsImageZipFile($event)" accept=".zip" #fileImageInput>
                        </div>
                    </div> -->
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" (click)="CallForUploads(fileQuizMasterInput,fileQuizDetailInput)" class="btn btn-primary">Upload</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>