.example-header-image {
  background-size: cover;
}
.dashb_info {margin-top: 20px;}
.reg_details {position: relative; text-align: center; background: none; border: 1px solid rgba(0,0,0,0.1); box-shadow: none;}
.reg_details dfn {font-style: normal; background: #c4dbd4; padding:2px 5px; border: 1px solid #abcbc1; border-radius: 5px; position: absolute; left: 0; top: 0; width: 93%; height: 30px; margin: 0 auto; right: 0; margin-top: 10px;}
.reg_details figure {margin-top: 35px; width: 100%; display: inline-block;}
.reg_details dfn span {display: inline-block; color: #0b4a43;}
.reg_details dfn span small {font-size: 16px; margin-right: 10px; margin-top: 3px;}
.reg_details dfn span small, .reg_details dfn span .mat-icon {float: left;}
.reg_details figure img {height: 146px;}
.mdc-dialog__content {overflow: inherit;}