<div class="container">
    <div class="srow clrleft card_details dashb_info">
      <h1 class="admin_heading_h1">Refund Policy</h1>
      <div class="srow clrleft dashboard-details inner-content-info">
        <div class="row">
          <div class="srow clrleft privacy_details">
            <h2>Refund Policy</h2>
            <p>1. We do not refund any amount for our basic course whose fee is below Rs 99/-.</p>
            <p>2. For the advanced courses, students pay up front the full fee. Some students may have doubts about the quality of coaching, and they may hesitate to pay the fee unless there is a good refund policy. Our company's fee refund policy is as follows:</p>

            <table border="1" cellpadding="10" cellspacing="0">
                <thead>
                    <tr>
                        <th>S. No.</th>
                        <th>Refund Description</th>
                        <th>Deduction Towards Processing and Other Expenditure</th>
                        <th>Money to be Refunded</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>If a student wants refund within 30 days of joining.</td>
                        <td>Rs. 500 /-</td>
                        <td>Fee minus Rs. 500 /-</td>
                    </tr>
                </tbody>
            </table>
            
  
            <h3>Have Questions?</h3>
            <p>
              If you have any questions about our Privacy Policy, we'll do our
              best to answer them. Please contact us using the contact option
              available on our contact page.
            </p>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  