<div class="container">
    <div class="srow clrleft card_details dashb_info">
        <h1 class="admin_heading_h1">Contact Us</h1>
        <div class="srow clrleft dashboard-details inner-content-info">
            <div class="row">
                <div class="col-md-4">
                    <figure>
                        <img src="assets/images/contact-n2l-com.jpg" alt="n2lacademy.in" class="srow" />
                    </figure>
                </div>
                <div class="col-md-8">
                    <div class="srow clrleft contacts-info">
                        <ul>
                            <li>
                                <figure><img src="assets/images/mob-ico.png" alt="n2lacademy.in" class="srow" /></figure>
                                <span>Mobile No.</span>
                                <h4><a href="tel:+917999774648" title="7999774648">7999774648</a></h4>
                            </li>
                            <li>
                                <figure><img src="assets/images/email-ico.png" alt="n2lacademy.in" class="srow" /></figure>
                                <span>Email ID</span>
                                <h4><a href="mailto:admin@n2lacademy.in" title="admin@n2lacademy.in">admin@n2lacademy.in</a></h4>
                            </li>
                            <li>
                                <figure><img src="assets/images/web-ico.png" alt="n2lacademy.in" class="srow" /></figure>
                                <span>Website</span>
                                <h4><a href="www.n2lacademy.in" title="www.n2lacademy.in">www.n2lacademy.in</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>