<footer class="srow clrleft mt-3 f_footers">
    <div class="container">
        <div class="srow clrleft d-flex  align-items-center">
            <small class="srow clrleft text-muted text-center">Copyright &copy; 2023 elearn All rights reserved.</small>
            <small style="white-space: nowrap; margin-left: auto;">
                <a class="nav-link" routerLink="/privacy_policy" title="Contact" >Privacy Policy</a>
            </small>
            &nbsp;&nbsp;&nbsp;
            <small style="white-space: nowrap; margin-left: auto;">
                <a class="nav-link" routerLink="/refund_policy" title="Contact" >Refund Policy</a>
            </small>
        </div>
    </div>
</footer>
