<div class="container">
    <div class="srow clrleft card_details dashb_info">
        <h1 class="admin_heading_h1">Privacy Policy</h1>
        <div class="srow clrleft dashboard-details inner-content-info">
            <div class="row">

                <div class="srow clrleft privacy_details">
                    <p>
                        This privacy policy governs your use of the “N2LEnglish App” mobile application that is hosted
                        at N2L Academy India Pvt. Ltd. Account in Google Play Store. The contents published on these
                        Applications were provided by N2L Academy India Pvt. Ltd. This information provided through
                        these applications may not have any legal sanctity and are for general reference only, unless
                        otherwise specified. However, every effort has been made to provide accurate and reliable
                        information through these applications. Users are advised to verify the correctness of the facts
                        published here from the concerned authorities. N2L Academy India Pvt. Ltd. will not be
                        responsible for the accuracy and correctness of the contents available in the application.
                    </p>
                    <h3>User Provided Information</h3>
                    <p>The Applications may obtain the information you provide when you download and register the
                        Application. When you register and use the Application, you generally provide (a) your mobile
                        number (b) download or use applications from us; and; (c) information you enter into our system
                        when using the Application, such as contact information. The information you provided may be
                        used to contact you from time to time to provide you with important information and required
                        notices.</p>
                    <h3>Automatically Collected Information</h3>
                    <p>In addition, the Application may collect certain information automatically, including, but not
                        limited to, the type of mobile device you use, your mobile devices unique device ID, the IP
                        address of your mobile device, your mobile operating system, the type of mobile Internet
                        browsers you use, and information about the way you use the Application. When you visit the
                        mobile application, it may use GPS technology (or other similar technology) to determine your
                        current location in order to determine the city you are located within and display a location
                        map. The location information may be sent to authorities for taking necessary actions and making
                        policy decisions. If you do not want the app to use your location for the purposes set forth
                        above, you should turn off the location services for the mobile application located in your
                        account settings or in your mobile phone settings and/or within the mobile application. However,
                        if the service provided by the Application requires the location services using GPS technology,
                        such services offered by the application will not be available for you. We may disclose User
                        provided and Automatically Collected Information:</p>
                    <div class="srow clrleft under_list">
                        <ul>
                            <li>As required by law, such as to comply with a subpoena, or similar legal process;</li>
                            <li>When we believe in good faith that disclosure is necessary to protect our rights,
                                protect your safety or the safety of others, investigate fraud, or respond to a
                                government request;</li>
                            <li>With our trusted service providers who work on our behalf, do not have an independent
                                use of the information we disclose to them, and have agreed to adhere to the rules set
                                forth in this privacy statement.</li>
                        </ul>
                    </div>
                    <p>You can stop all collection of information by the Application easily by uninstalling the
                        Application. You may use the standard uninstall processes as may be available as part of your
                        mobile device or via the mobile application marketplace or network.</p>
                    <h3>Data Retention Policy, Managing Your Information</h3>
                    <p>We will retain User provided data for as long as you use the Application and for a reasonable
                        time thereafter. We will retain Automatically Collected information also for a reasonable period
                        of time depending on the nature of application and thereafter may store it in aggregate. Please
                        note that some or all of the User Provided Data may be required in order for the Application to
                        function properly.</p>
                    <h3>Misuse by Non Targeted Users</h3>
                    <p>All mobile apps are meant for use by the targeted audience only. Misuse by non-targeted users
                        should be prevented by owner of the mobile.</p>
                    <h3>Security</h3>
                    <p>We are concerned about safeguarding the confidentiality of your information. We provide physical,
                        electronic, and procedural safeguards to protect information we process and maintain. For
                        example, we limit access to this information to authorized user who need to know that
                        information in order to operate, develop or improve our Application. Please be aware that,
                        although we endeavour to provide reasonable security for information we process and maintain, no
                        security system can prevent all potential security breaches.</p>
                    <h3>Changes</h3>
                    <p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any
                        changes to our Privacy Policy by posting the new Privacy Policy here. You are advised to consult
                        this Privacy Policy regularly for any changes, as continued use is deemed approval of all
                        changes. You can check the history of this policy by clicking here.</p>
                    <h3>You're Consent</h3>
                    <p>By using the Application, you are consenting to our processing of your information as set forth
                        in this Privacy Policy now and as amended by us.</p>
                    <h3>Contact us</h3>
                    <p>If you have any questions regarding privacy while using the Application, or have questions about
                        our practices, please contact us via email at <a href="mailto:admin@n2lacademy.in"
                            title="admin@n2lacademy.in">admin[at]n2lacademy[dot]in.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>