<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="srow clrleft card_details">
            <h1 class="forget">Forgot Password</h1>
            <div class="srow clrleft pt_40">
                <form id="register_new" [formGroup]="ForgetForm">

                    <!-- Mobile and Email Form -->
                    <div class="row" *ngIf="ForgetFromBox">

                        <h2 class="text-center mb-5" style="color: green;">Enter your registerd mobile number & email.
                        </h2>

                        <div class="col-lg-12 mb-3">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Mobile Number</mat-label>
                                <input autocomplete="off" formControlName="MobileNumber" matInput
                                    placeholder="Please Enter Mobile Number" required>
                                <mat-error>Please Enter 10 Digit
                                    Mobile Number</mat-error>
                            </mat-form-field>

                        </div>

                        <!-- OTP Form -->
                        <div class="col-lg-12 mb-5">
                            <div class="d_opt_input text-center" *ngIf="OtpBox">
                                <h3 class="text-center" style="color: blue;" *ngIf="!MobileVerified">Please check your mobile for OTP</h3>
                                <h3 class="mb-0" style="color: green;" *ngIf="MobileVerified">OTP
                                    Verification Successful <mat-icon>mobile_friendly</mat-icon></h3>
                                <h3 class="mb-0" style="color: red;" *ngIf="MobileNotVerified">Wrong OTP
                                    <mat-icon>mobile_friendly</mat-icon>
                                </h3>
                                <ng-otp-input (onInputChange)="onMobileOtpChange($event)"
                                    [config]="{length:4,allowNumbersOnly: true, isPasswordInput: true,disableAutoFocus:true, inputStyles: {border: '1px solid #3534bb'}}">
                                </ng-otp-input>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <button type="button" *ngIf="!OtpBox" mat-raised-button color="primary"
                                (click)="generateOTP()">Get OTP</button>
                            <button *ngIf="OtpBox" type="button" [disabled]="(mobileOtp.length!==4 )" class="btn btn-success" (click)="VerifyOtp()">
                                Verify</button>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>