<div class="container">
    <div class="srow clrleft card_details dashb_info">
        <h1 class="admin_heading_h1">FAQ</h1>
        <div class="srow clrleft dashboard-details inner-content-info">
            <div class="row">
                <div class="col-md-4">
                    <figure>
                        <img src="assets/images/faq-n2l-com.jpg" alt="N2L" class="srow" />
                    </figure>
                </div>
                <div class="col-md-8">
                    <div class="srow clrleft faq-info">
                        <ol>
                            <li>
                                <h4>How is N2L Academy different from other coaching centers?</h4>
                                <p><strong>A&#41;</strong> N2L Academy not only designs & creates course content and practical exercises and
                                    also nudges the students to complete the course using different gamification techniques.
                                    Hence, course completion rate is very high in N2L Academy.</p>

                            </li>
                            <li>
                                <h4>Is “Learning English Speaking” in N2L Academy free or paid?</h4>
                                <p><strong>A&#41;</strong> The English Speaking Course at N2L Academy is a paid course. But, you can make it
                                    free. N2L Academy offers to earn back the paid fees by doing given practice. So, whether
                                    the course is paid or free depends on you. Earning back points for every exercise or
                                    assignment not only make you learn more but releases the dopamine in your mind and makes
                                    you do practice more and more.</p>
                            </li>
                            <li>
                                <h4>What are the courses currently offered by N2L Academy?</h4>
                                <p><strong>A&#41;</strong> Currently N2L Academy is offering “Learn Fluent English Speaking in 90 Days” for
                                    Hindi mother tongue adults.</p>
                            </li>
                            <li>
                                <h4>Are there any live classes?</h4>
                                <p><strong>A&#41;</strong> Yes, in addition to hundreds of video material, practice exercises, etc. there
                                    will be 50live classes during 3 months.</p>
                            </li>
                            <li>
                                <h4>How can I contact you?</h4>
                                <p><strong>A&#41;</strong> You can contact us at <a href="mailto:admin@n2lacademy.in" title="admin@n2lacademy.in">admin@n2lacademy.in</a> and you can also join the free webinar
                                    to know more details.</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>