<div class="container">
    <div class="srow clrleft card_details dashb_info">
        <h1 class="admin_heading_h1">About Us</h1>
        <div class="srow clrleft dashboard-details inner-content-info">
            <div class="row">
                
                <div class="col-md-4">
                    <figure>
                        <img src="assets/images/about-n2l-com.jpg" alt="N2L" class="srow" />
                    </figure>
                </div>

                <div class="col-md-8">
                    <p>N2L Academy stands for “Nudge to Learn Academy”. Many people want to learn new skills like
                        English Speaking and they join courses by paying fee. But, the fact is only 5% people complete
                        the course. Remaining 95% people paid the fee that means they are interested to learn but they
                        don’t have necessary discipline to do practice. A little NUDGE shall help the people to complete
                        the course.</p>
                    <p>N2L Academy, after a long research, came out with nudging techniques. Hence, course completion
                        rate of N2L Academy is very high. We use gamification techniques to make learning entertaining
                        and at the same time challenging.</p>
                    <p>Register for the free webinar to know more details especially for learning English Speaking.</p>
                </div>
            </div>
        </div>
    </div>
</div>